# Include documentation and license
include LICENSE
include readme.md
include api_doc.md
include requirements.txt

# Include example files
recursive-include examples *.py *.yaml

# Include tests
recursive-include tests *.py

# Exclude cache and compiled files
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.so
global-exclude .DS_Store

